ul{
	margin-left: 40%;
}
li{
	display: inline;
	list-style-type: none;
	margin-right: 20%;
	
}
.header{
	margin-right: 50%;
}
.header a{
	text-decoration: none;
	color: #333333;
}
.list2{
	position:absolute;
	left: 48%;
}
#google_translator{
	
	position:absolute;
	top: 0%;
	right: 5%;
	
	
}
.goog-logo-link {
    display:none !important;
} 
    
.goog-te-gadget {
    color: transparent !important;
}

.goog-te-banner-frame.skiptranslate {
display: none !important;
} 

.form1{
	display:block;
	
}
iframe{
	float:right;
	
}